<!doctype html>
<html ng-app="testModule">
	<head>
		<title>Welcome to Trades Info</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    	<script src="../js/tradesController.js"></script>
	</head>

	<body>
		<div ng-controller="tradeController">
		
<input type="textarea" placeholder="Put your inputs here" ng-model="listOftradeInfo"/>
<input type="button" value="Submit" ng-click="getData()" />

<div>
<table ng-show="postValidationList.length >0">
<tr >
    <th>Customer </th>
    <th>Trade Type</th>
  </tr>
  <tr ng-repeat="x in postValidationList" ng-class="{{x.errorObj.errorClass}}">
    <td>{{ x.customer }}</td>
    <td>{{ x.type }}</td>
  </tr>
</table>
</div>
		</div>
	</body>
</html>